table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }

/* optional Container STYLES */
.Treant > .node {  background-color:none;  padding: 10px;border:1px solid black; border-radius: 10px;  line-height: 12px;width: 200px; min-height: 30px;}
.Treant > .node img { width: 30%;  float:left; padding-right:5px;}

.Treant .collapse-switch { width: 100%; height: 100%; border: none; }
.Treant .node.collapsed { background-color: none; }
.Treant .node.collapsed .collapse-switch { background: none; }

.node-name { font-weight: bold;width: 70%;  float:right;}
.node-desc{font-style: italic;width: 70%;  float:right;}

#gridChart{width: 100%; height: 400px;}